/*=============== HEADER & NAV ===============*/
.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: var(--z-fixed);
}

.nav{
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_logo,
.nav_close,
.nav_toggle,
.nav_actions{
  display: flex;
  color: var(--title-color);
  cursor: pointer;
}

.nav_logo{
  font-weight: var(--font-semi-bold);
  column-gap: .25rem;
  align-items: center;
}

.nav_logo i{
  color: var(--first-color);
  font-size: 1.25rem;
  font-weight: initial;
}

.nav_actions{
  font-size: 1.25rem;
  column-gap: .5rem;
  align-items: center;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px){
  .nav_menu{
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(228, 24%, 6%, .2);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem 0;
    transition: right .4s;
  }
}

.nav_list{
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav_link{
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav_link:hover{
  color: var(--first-color);
}

.nav_close{
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
  font-size: 1.25rem;
}

.show-menu{
  right: 0%;
}

/* Active link */
.active-link{
  color: var(--first-color);
}